<html>
  <head>
      <title>Reverse Proxy Config</title>
  </head>
  <body>
    <h1>Config Data</h1>
    <ul>
      <li>Proxied Host: {{ config.host }}</li>
      <li>Proxied Port: {{ config.port }}</li>
      <li>Proxied Scheme: {{ config.scheme }}</li>
    </ul>
  </body>
</html>